<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zcf.mapper.CardtypeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zcf.pojo.Cardtype">
        <id column="id" property="id" />
        <result column="value" property="value" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, value
    </sql>

    <select id="getCard_type" resultType="String">
        SELECT `value` FROM  cardtype  AS t1  JOIN (SELECT ROUND(RAND() * ((SELECT MAX(id) FROM `cardtype`)-(SELECT MIN(id) FROM cardtype))+(SELECT MIN(id) FROM cardtype)) AS id) AS t2 WHERE t1.id >= t2.id ORDER BY t1.id LIMIT 1
    </select>

</mapper>
