<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zcf.mapper.PkRecordTableMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zcf.pojo.PkRecordTable">
        <id column="recordid" property="recordid" />
        <result column="userid" property="userid" />
        <result column="number" property="number" />
        <result column="money" property="money" />
        <result column="createdate" property="createdate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        recordid, userid, number, money, createdate
    </sql>

</mapper>
