<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zcf.mapper.RoomsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zcf.pojo.Rooms">
        <id column="id" property="id" />
        <result column="createtime" property="createtime" />
        <result column="roomnumber" property="roomnumber" />
        <result column="maxnumber" property="maxnumber" />
        <result column="fen" property="fen" />
        <result column="jionfen" property="jionfen" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, createtime, roomnumber, maxnumber, fen, jionfen
    </sql>

</mapper>
